@import 'font-awesome';

:root {
  --light-mode-primary: #3498db;
  --light-mode-secondary: #2ecc71;
  --light-mode-text: #333333;
}

body {
  background-color: rgb(112, 112, 112);
}

.container {
  display: flex;
}

.left-panel {
  background-color: rgb(87, 87, 87);
  border-radius: 10px;
  flex: 1;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: 5px;
}

.right-panel {
  flex: 1;
}

.input-section {
  margin-top: 20px;
  margin-bottom: 20px;
  .track-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .add-track-btn,
  .add-sound-effect-btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: #45a049;
    }
  }
}

/* Track List Styles */
.track-list {
  list-style: none;
  padding: 0;
}

.track-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.track-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.track-name {
  margin: 0;
  font-size: 18px;
}

.invalid-source {
  color: red;
  margin: 0;
}

/* Track Controls Styles */
.track-controls {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;

  .play-btn,
  .loop-btn,
  .delete-btn {
    margin-right: 10px;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  .delete-btn-container {
    margin-left: auto;
  }

  .loop-btn.loop-enabled {
    background-color: #555;
  }

  .volume-slider {
    width: 100px;
    margin-right: 10px;
  }
}

.danger {
  color: rgb(170, 0, 0)
}

.right-panel {
  background-color: rgb(87, 87, 87);
  border-radius: 10px;
  flex: 1;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: 5px;
}

.sound-effects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust as needed */
  gap: 10px;
}

.sound-effect-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 130px;
  margin-bottom: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.sound-effect-item .play-btn {
  width: 50%;
  height: 50%;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.sound-effect-item .play-btn i {
  font-size: 30px;
}

.sound-effect-item .volume-slider {
  width: 75%;
}

.sound-effect-item .track-name {
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
}