@import 'font-awesome';

:root {
  --light-mode-primary: #3498db;
  --light-mode-secondary: #2ecc71;
  --light-mode-text: #333333;
}

body {
  background-color: rgb(112, 112, 112);
}

.container {
  display: flex;
}

.left-panel {
  flex: 1;
  padding-right: 20px;
  padding-left: 20px;
}

.right-panel {
  flex: 1;
}

.input-section {
  margin-bottom: 20px;
  .track-input {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .add-track-btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: #45a049;
    }
  }
}

/* Track List Styles */
.track-list {
  list-style: none;
  padding: 0;
}

.track-item {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.track-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.track-name {
  margin: 0;
  font-size: 18px;
}

.invalid-source {
  color: red;
  margin: 0;
}

/* Track Controls Styles */
.track-controls {
  width: 100%;
  margin-top: 10px;
  display: flex;
  align-items: center;

  .play-btn,
  .loop-btn,
  .delete-btn {
    margin-right: 10px;
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    &:hover {
      opacity: 0.8;
    }
  }

  .delete-btn-container {
    margin-left: auto;
  }

  .loop-btn.loop-enabled {
    background-color: #555;
  }

  .volume-slider {
    width: 100px;
    margin-right: 10px;
  }
}

.danger {
  color: rgb(170, 0, 0)
}